<html>
<head>
<title>$entityType.name</title>
</head>
<body>

<h1>$entityType.name</h1>
<p>$entityType.description</p>
<!--
$entityType.getAsString()
-->
<h2>subtypes</h2>
<ul>
#foreach( $subtype in $entityType.subtypes )
<li>
<a href="$subtype.url">$subtype.name</a> 
</li>
#end
</ul>
#if ($entityType.supertype)
  <h2>supertype</h2>
  <a href="$entityType.supertype.url">$entitytype.supertype.name</a> 
#end
<ul>
#foreach( $attribute in $entityType.attributes )
   <li>
   	#parse("attribute.vm")
    </li>
#end
</ul>


</body>
</html>