
#macro( debug $dynamicEntity )
#foreach( $attribute in $dynamicEntity.attributeNames )
     $attribute :: $dynamicEntity.get($attribute) 
#end
#end

<ol>
$entityType.name
$entityType.description
<!--
#debug($entityType)
-->

#foreach( $subtype in $entitytype.subtypes )
<a href="$subtype.url">$subtype.name</a> 
#end
<a href="$entitytype.supertype.url">$entitytype.supertype.name</a> 


#foreach( $attribute in $entityType.attributes )
   <li>
   	#parse("attribute.vm")
    </li>
#end
</ol>